font "Sans 11"

window-rules {}

outputs {
  "*" {
    scale 1.0
  }
}

input {
  keyboards {
    "*" { xkb-layout "us" }
  }
}

bindings {
  Mod+Return { spawn "alacritty" }
  Mod+Shift+Q { quit }
}
